/* ================================= 
  Base Styles
==================================== */

body {
  font: 300 62.5%/1.4 Roboto, sans-serif;
  color: darkslategrey;
  min-height: 100vh;
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}
  
header,
footer {
  background-color: rgb(241, 241, 241);
  padding: 2%;
}

main {
  margin: 4% 2%;
  gap: 2%;
}

/* ================================= 
  Font Styles
==================================== */
p,
a {
  font-size: 1.6em;
}

h1 {
  font-size: 2.4em;
  line-height: 1.1em;
  font-weight: bold;
}

h2 {
  font-size: 1.8em;
  line-height: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
}

h3 {
  font-size: 1.8em;
  line-height: 1.3em;
  font-weight: 400;
}

h4 {
  font-size: 1.8em;
  font-weight: 600;
}

.intro-item-2 { /*intro paragraph text*/
  font-size: 1.8em;
}

.page-title {
  font-weight: bold;
  text-transform: uppercase; 
}

/* ================================= 
  Link Styling
==================================== */
.main-nav, /* link text styles for nav in header/footer */
.footer-nav,
.footer-nav-tablet,
 a {
  color: darkslategray;
  text-transform: uppercase;
  font-weight: bold;
}
a,
a:visited,
a:hover {
  text-decoration: none;
}
a:hover {
  color:rgb(163, 10, 110);
}
/* ================================= 
  All Flex Display
==================================== */
.main-header, 
.main-nav,
.footer-nav,
.portfolio-wrapper,
.intro {
  display: flex;
}
/* ================================= 
  Flex Containers
==================================== */

.main-header {
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
}

.main-nav {
  flex-direction: column;
}

.intro { /*intro and image of man*/
  flex-direction: column; 
  padding: 8% 2% 4% 2%;
}

.portfolio-wrapper { /*section with articles*/
  flex-direction: column;
  justify-content: center;
}

.footer-nav {
  border-top: solid lightgrey 1px;
  justify-content: space-between;
  align-items: center;
}

/* ================================= 
  Flex Items
==================================== */

.button { /*main nav button on mobile */
  padding: 4%;
  margin: 2%;
  background: white;
} 

/* .intro-item {
  flex-grow: 1;
} */

.card {
  padding: 1%;
  margin: 1%;
}

.card h3 {
  margin-block-end: 0;
}

.card img {
  max-width: 100%;
}

/* ================================= 
  Footer
==================================== */

.contact-info {
  padding: 8% 2%;
  max-width: 80%;
  margin: auto;
}

.contact-info a {
  font-size: 1.2em;
  text-transform: none;
  font-weight: bold;
  text-decoration: none;
  color: darkslategray;
}

.item {
  padding: 2%;
}

.item-3, 
.item-4, 
.item-5 {
  display:none;
}


/* ================================= 
  Media Queries
==================================== */


/* When the browser is at least 769px and above */
@media (min-width: 769px) {  /* Tablets  */

  .intro {
    flex-flow: row-reverse nowrap;
    gap: 2%;
    text-align: start;
  }

  .intro-item-2 { /*text in intro section */
    margin: 0;
  }
  
  .intro-item-1 {
    
    
  }

  
  .main-nav {
    flex-flow: row nowrap;
    width: auto;
    justify-content: center;
    gap: 4%;
  }

  .button { /*hide button styling on tablet/desktop */
    background-color:rgb(255, 255, 255, 0);
    padding: 2%;
    margin: 1%;
  }

  .portfolio-wrapper {
    flex-flow: row wrap;
  }
    
  .card { /* flex item*/
    flex: 1 42%;
  }

  .card p {
    padding: 0 6% 8% 6%;
  }

  .contact-info {
    max-width: 70%;
  }

  #back-to-top {
    display:none;
  }

/* ================================= 
  Flex Items
==================================== */

.item-3, 
.item-4, 
.item-5 {
  display:block;
}

.item {
  padding: 2% 2%;
}

.item-1 {
  margin-right: auto;
}


}

/* When the browser is at least 1025px and above */
    @media (min-width: 1025px) {  /* Desktop */
    
   
    }


