/* ================================= 
  Base Styles
==================================== */
body {
  font: 300 62.5%/1.4 Roboto, sans-serif;
  color: darkslategrey;
  background-color: rgb(241, 241, 241);
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
  max-width: 1000px;
  min-width: 320px;
}

main {
  background-color: white;
  padding: 4em 0;
}
  
header,
footer {
  padding: 2%;
}

/* ====== Font ======= */
p,
a {
  font-size: 1.6em;
}

h1 {
  font-size: 2.4em;
  line-height: 1.1em;
  font-weight: bold;
}

h2 {
  font-size: 1.8em;
  line-height: 1.2em;
  font-weight: bold;
}

h3 {
  font-size: 1.8em;
  line-height: 1.3em;
  font-weight: 400;
}

h4 {
  font-size: 1.8em;
  font-weight: 600;
}

p.intro-item-2,
.contact-info p { 
  font-size: calc(1.8em + 0.390625vw);
} 
  
.page-title { /*text for page sections */
  text-transform: uppercase; 
  margin-bottom: 2em;
  font-size: 1.6em;
}

/* ====== Link Styling ======= */
.main-nav, /* link text styles for nav in header/footer */
.footer-nav,
.footer-nav-tablet,
 a {
  color: darkslategray;
  text-transform: uppercase;
  font-weight: bold;
}
a,
a:visited,
a:hover {
  text-decoration: none;
}
a:hover {
  color:rgb(163, 10, 110);
}

/* ====== Main Flex Display ======= */
body,
.main-header, 
.main-nav,
.footer-nav,
.portfolio-wrapper,
.intro {
  display: flex;
}

/* ================================= 
  Flex Containers
==================================== */

body {
  flex-direction:column;
}

.main-header {
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  margin: 2em;
}

.main-nav {
  flex-flow: row wrap;
  justify-content: center;
}

.intro { /*intro and image of man*/
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.portfolio-wrapper { /*section with articles*/
  flex-flow: row wrap;
  justify-content: center;
  gap: 2%;
}

.footer-nav {
  border-top: solid lightgrey 1px;
  justify-content: space-between;
  align-items: center;
}

/* ====== Flex Items ======= */

.button { /*main nav button on mobile */
  padding: 4%;
  margin: 2%;
  background: white;
  width: 100%;
} 

.intro-item img {
  width: 100%;
  height: auto;
} 

.card img {
  /* max-width: 300px;
  height: auto; */
  max-width: 100%;
  margin: auto;
}

.card {
  /* width: 290px; */
  /* flex: 1 0 auto; */
  /* flex: 1 0 310px; */
  /* min-width: 100%; */
  max-width: 300px;
  padding: 2%;
}

.card h3 {
  margin-block-end: 0;
}

/* ====== Footer ======= */
.contact-info {
  padding: 8% 2%;
  max-width: 500px;
  margin: auto;
}

.contact-info a {
  font-size: 1.2em;
  text-transform: none;
  font-weight: bold;
  text-decoration: none;
  color: darkslategray;
}

.item {
  padding: 2%;
}

.item-3, 
.item-4, 
.item-5 {
  display:none;
}
/* ================================= 
  Media Queries
==================================== */

/* ==== When the browser is at least 768px and above === */
@media (min-width: 768px) { 

  body {
    margin: 2em auto;
  }

  .main-nav h1 {
    width: 100%;
  }

  .button { /*hide button styling on tablet/desktop */
    background-color:rgb(255, 255, 255, 0);
    padding: 2%;
    margin: 1%;
    width: auto;
  }

  .intro { /*intro and image of man*/
    flex-flow: row-reverse nowrap;
    text-align: start;
    gap: 2em;
  }

  #back-to-top { /*hides the back to top button in footer */
    display:none;
  } 

  /* ==== Flex Items === */

  /*shows navigation pages in footer, previously hidden */
  .item-3, 
  .item-4, 
  .item-5 {
    display:block;
  }

  .item {
    padding: 2% 2%;
  }

  .item-1 {
    margin-right: auto;
  }

  .intro {
    align-items: flex-start;
    padding: 2em 0;
  }

  .intro-item-1 {
    flex: 0 1 45%;
  }

  .intro-item-2 {
    flex: 0 1 55%; /* Don't grow, can shrink, base of 60% */
    margin: 0;
  }

}

/* ==== When the browser is at least 1024px and above === */
@media (min-width: 1024px) {  /* Desktop */
  
  main {
    margin: 0 2% 4% 2%;
  }

  .main-nav {
    justify-content: space-between;
    align-items: center;
  }

  .main-nav h1 {
    margin-right: auto;
    width: auto;
  }

  .portfolio-wrapper { /*section with articles*/
    gap: 1%;
  }

  .card {
    max-width: 28%;
  }

 }